[Unit]
Description=DNS Analyzer Timer - Runs continuously with 1s delay
Requires=dns-analyzer.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1s
Persistent=true
AccuracySec=1ms
Unit=dns-analyzer.service

[Install]
WantedBy=timers.target
